# Logs e sistema
*.log
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example

# IDEs e ferramentas
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
.phpactor.json

# Dependências
/node_modules
/vendor

# Laravel
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail

# PHPUnit
.phpunit.result.cache

# Homestead
Homestead.json
Homestead.yaml
